{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>


    <title>Campo Dinamico</title>

	<meta name="author" content="Rodrigo Alvarado" />
	<meta name="description" content="Prueba para el proyecto que ya valio 20" />

	<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

  <div id="todo">
    <div id="login">
      <div id="chapuz">
      <h1>Esta añadiendo un campo adicional: {{ nombre }}</h1>
      </div>
      {% if error_message%}
      <p><strong> {{error_message}}</strong></p>
      {% endif %}
      <p>
        <div id="chapuz">
        <form action="" method="post" novalidate>
          {%csrf_token%}
          {{ form.as_p }}
          <input type="Submit" name="Submit" value="Añadir">
        </form>
        </div>

      </p>
    </div>
  </div>
</body>
</html>
