{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>


    <title>Auto Repuestos Villeda</title>

	<meta name="author" content="Rodrigo Alvarado" />
	<meta name="description" content="Prueba para el proyecto que ya valio 20" />

	<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

	<div id="todo">
		<div id="titulo">
			<h1><a href="/" id="logoLink">Auto Repuestos Villeda</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="{% url 'home' %}">Ingresar Compras</a></li>
				<li><a href="{% url 'catalogo' %}">Catalogo</a></li>
				<li><a href="{% url 'clientes' %}">Clientes</a></li>
        <li><a href="{% url 'proveedores' %}">Proveedores</a></li>
			</ul>
		</div>
		<div id="contenido">
			<h2>Compras</h2>
			<p>
        {% for thing in things %}
            <p>{{ thing.name }}</p>
        {% endfor %}
			</p>
		</div>
		<div id="footer">
			<p>
				Valiendo mucha <a href="/" target="_blank">VERGA</a>
			</p>
		</div>
	</div>
</body>
</html>
