{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>


    <title>Auto Repuestos Villeda</title>

	<meta name="author" content="Rodrigo Alvarado" />
	<meta name="description" content="Prueba para el proyecto que ya valio 20" />

	<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

	<div id="todo">
		<div id="titulo">
			<h1><a href="{% url 'home' %}" id="logoLink">Auto Repuestos Villeda</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="{% url 'catalogo' %}">Back</a></li>
			</ul>
		</div>
		<div id="contenido">
			<h2>{{repuesto.nombre}}</h2>
      <hr>
      <p>Categoria: {{repuesto.categoria}}</p>
      <p>Precios:</p>
      <ul>
      <li>A : {{repuesto.precioA}}</li>
      <li>B : {{repuesto.precioB}}</li>
      <li>C : {{repuesto.precioC}}</li>
      </ul>
      <p>Disponibilidad : {{repuesto.disponibilidad}}</p>
      <p>Marca: {{repuesto.marca}}</p>
		</div>
		<div id="footer">
			<p>
				Desarrollado por: <a href="/" target="_blank">RRC</a>
			</p>
		</div>
	</div>
</body>
</html>
