{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>


    <title>Auto Repuestos Villeda</title>

	<meta name="author" content="Rodrigo Alvarado" />
	<meta name="description" content="Prueba para el proyecto que ya valio 20" />

	<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

	<div id="todo">
		<div id="titulo">
			<h1><a href="{% url 'home' %}" id="logoLink">Auto Repuestos Villeda</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="{% url 'clientes' %}">Back</a></li>
        <li><a href="{% url 'editarCliente' cliente.id%}"><img src="{% static 'edit2.png' %}" height="25" width="25"></img></a></li>
			</ul>
		</div>
		<div id="contenido">
			<h2>{{cliente.nombre}}</h2>
      <p>Telefono : {{cliente.telefono}}</p>
      <p>DPI : {{cliente.dpi}}</p>
      <p>Correo : {{cliente.correo}}</p>
      <p>Direccion : {{cliente.direccion}}</p>
      <p>NIT : {{cliente.nit}}</p>
      <p>Tipo: {{cliente.tipo}}</p>
		</div>
    <br><hr>
    <h2>Feed</h2>
    {% for t in twitter %}
        <p>{{ t.tweet }}</p>
    {% endfor %}
		<div id="footer">
			<p>
				Desarrollado por: <a href="/" target="_blank">RRC</a>
			</p>
		</div>
	</div>
</body>
</html>
