{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
	<body>
		<div id="todo">
			<div id="login">
				<div id="chapuz">
				<h1>Login de Ventas</h1>
				</div>
				{% if error_message%}
				<p><strong> {{error_message}}</strong></p>
				{% endif %}
				<p>
					<div id="chapuz">
					<form action="{% url 'ver' %}" method="post" novalidate>
						{%csrf_token%}
						{{ form.as_p }}
						<input type="Submit" name="Submit" value="Ingresar">
					</form>	
					</div>
					
				</p>	
			</div>
		</div>
	</body>
</html>