{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>


    <title>Auto Repuestos Villeda</title>

	<meta name="author" content="Rodrigo Alvarado" />
	<meta name="description" content="Prueba para el proyecto que ya valio 20" />

	<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

	<div id="todo">
		<div id="titulo">
			<h1><a href="{% url 'home' %}" id="logoLink">Auto Repuestos Villeda</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="{% url 'home' %}">Ingresar Compras</a></li>
				<li><a href="{% url 'clientes' %}">Clientes</a></li>
				<li><a href="{% url 'compras' %}">Compras</a></li>
        <li><a href="{% url 'proveedores' %}">Proveedores</a></li>
        <li><a href="{% url 'chart' %}">Graficas</a></li>
        <li><a href = "{% url 'resumenes' %}">Resumen</a></li>
			</ul>
		</div>
		<div id="contenido">
      <h2>Catalogo</h2>
      <p>
        <form method="post" action="" novalidate>
          {% csrf_token %}
          {{ form }}
          <button type="submit">Submit</button>
          <a href="{%url 'anadirProducto'%}"><img src="{% static 'add.png' %}" height="42" width="42" align="right"></img></a>
        </form>
      </p>
      <br></br>
      <hr>
      <p>
        {% ifequal paso 1%}
        {% for thing in things %}
            <p><a href="{%url 'detalle_repuesto' thing.0%}">{{ thing.1 }}</a></p>
        {% endfor %}
        {% else %}
        {% for thing in things %}
            <p><a href="{%url 'detalle_repuesto' thing.id%}">{{ thing.nombre }}</a></p>
        {% endfor %}
        {% endifequal %}
			</p>
		</div>
		<div id="footer">
			<p>
				Desarrollado por: <a href="/" target="_blank">RRC</a>
			</p>
		</div>
	</div>
</body>
</html>
